@import '../../../../sass/variables';

nav {
  position: fixed;
  background: $primary;
  display: flex;
  align-items: center;
  height: 60px;
  left: 0;
  right: 0;


  h1 {
    color: $text-color-pale;
    margin: 0;
  }
}



