// Import material theming functions
@import '~@angular/material/theming';

$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-deep-purple);
$app-warn:    mat-palette($mat-deep-purple);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$text-color-pale: white;

