/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


body {
  width: 100vw;
  height: 100vh;
}

.app-container {
  height: 100%;
}

.app-content-container {
  box-sizing: border-box;
  padding-top: 60px;
  height: 100%;
}
